# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.2-node-browsers
    steps:
      - checkout
      - run: sudo apt update # PHP CircleCI 2.0 Configuration File# PHP CircleCI 2.0 Configuration File sudo apt install zlib1g-dev libsqlite3-dev
      - run: sudo docker-php-ext-install zip
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
      - run: 
        command: |
          cp vendor/sensiolabs/security-advisories/validator.php sa_yaml/8/
          sed -i "s/__DIR__.'/__DIR__.'\/..\/../g" sa_yaml/8/validator.php
          cp vendor/sensiolabs/security-advisories/validator.php sa_yaml/7/
          sed -i "s/__DIR__.'/__DIR__.'\/..\/../g" sa_yaml/7/validator.php
          php sa_yaml/8/validator.php
          php sa_yaml/7/validator.php
